Bunnefeld et al 2013 Trophy hunting.pdf
Elvarsson et al 2018 Ling assessment.pdf
Bellanger et al 2018 Individual based bio-econ model Bay of Biscay.pdf
Bedford et al 2013 Abalone MSE.pdf
Arteaga et al 2014 Chile MSE.pdf
Carruthers et al 2014 data limited MSE.pdf
Adkison and Cunningham 2015 salmon run timing and management.pdf
Edwards et al 2014 African lion MSE.pdf
Gao et al 2014 Water MSE.html
Hintzen et al 2015 fisheries independent data.pdf
Li et al 2015 great lakes whitefish.pdf
Moeseneder et al 2015 User interface software for water quality management.pdf
Nano et al 2014 Serengeti social networks.pdf
O'Neill et al 2014 spatial dynamics economics and eastern king prawn.pdf
Ohshimo and Naya 2014 Japan date poor MSE.pdf
Pascoe et al 2017 Including economic objectives in MSE.pdf
Piet et al 2015 EBFM risk assessment.pdf
Punt et al 2016 End to end modeling Bering Sea.pdf
Smith et al 2015 Atlantis Model of Ecosystem Indicators.pdf
Thebaud et al 2015 Viability of strategies in MSE.pdf
Walsh et al 2018 Data limited fisheries.pdf
Yuhe et al 2014 Bigeye Tuna.pdf
A'mar et al 2009 Gulf of Alaska Pollock (MSE review CC).pdf
Dorner et al 2009 Salmon climate change effects (MSE review CC).pdf
Bunnefeld et al 2013 MSE a tool for conservation.pdf
Haltuch 2019 MSE west coast sablefish (MSE review CC).pdf
Merino 2019 Albacore MSE climate change.pdf
Brander 2007 Production and climate change.pdf
Busch et al 2016 NMFS Climate change strategy.pdf
Castillo-Jordan et al 2019 Implications of climate grenadier MSE.pdf
Haltuch 2019 MSE and climate review.pdf
Kuykendall 2019 Surfclam MSE.pdf
De vente et al 2016 Participatory decision making.pdf
Moore and Runge 2012 SDM and VOI.pdf
Runge et al 2011 Which uncertainty VOI.pdf
